<div class="footer">
  <div class="container d-flex justify-content-center fixed-bottom">
    <span class="text-muted">
      <%= Time.now.year %>
      |
      EvilJadeon
      |
      <%= link_to 'GitHub', 'https://github.com/EvilJadeon', target: '_blank', class: 'link-active' %>
      |
      <%= link_to 'My school', 'https://thinknetica.com', target: '_blank', class: 'link-active' %>
    </span>
  </div>
</div>